@font-face {
    font-family:'SF Pro';
    src: url('/fonts/SF Pro.eot');
	src: url('/fonts/SF Pro.eot?#iefix') format('embedded-opentype'),
		url('/fonts/SF Pro.woff2') format('woff2'),
		url('/fonts/SF Pro.woff') format('woff'),
		url('/fonts/SF Pro.svg#SF Pro') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}

html {
    -webkit-background-size: cover;
    height: auto;
    font-size: 20px;
    background: linear-gradient(-45deg, #DE4448, #DEDAC7, #2D6BB0, #DDE0E6, #A8D2D7);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
}

body {
    margin-top: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
    -webkit-background-size: cover;
    height: 100%;
    background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 61px;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(1000px);
    text-align: center;
    font-family: 'SF Pro', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

.insets {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0rem;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.navbar {
    padding-left: 2rem;
    padding-right: 2rem;
    color: white;
    font-size: x-large;
    font-weight: medium;
}

.navbar .navbar-nav {
    float: none;
    vertical-align: top;
}

.nav-appstore {
    margin-left: auto;
    margin-right: 0rem;
}

/*.humans-image {*/
/*    height: 70%;*/
/*    width: 70%;*/
/*}*/

.swiper {
    margin-left: 14rem;
    margin-right: 14rem;
}

.nav-link.active {
    color: #325FA0!important;
}

.navbar-brand.active {
    color: #325FA0!important;
}

/*#navbarNav{*/
/*    justify-content : end;*/
/*}*/


header {
    margin-bottom: 4rem;
}

section {
    margin-bottom: 4rem;
}

footer {
    font-size: medium!important;
}

#iconTelegram {
    font-size: x-small!important;
}

#iconTelegramText {
    color: #2CA4DC!important;
}

#iconYouTube {
    font-size: x-small!important;
}

figcaption {
    text-align: center; /* Выравниваем по центру */
}

/*.navbar .navbar-collapse {*/
/*    text-align: center;*/
/*}*/
