@font-face {
    font-family:'SF Pro';
    src: url('/fonts/SF Pro.eot');
	src: url('/fonts/SF Pro.eot?#iefix') format('embedded-opentype'),
		url('/fonts/SF Pro.woff2') format('woff2'),
		url('/fonts/SF Pro.woff') format('woff'),
		url('/fonts/SF Pro.svg#SF Pro') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}

html {
    -webkit-background-size: cover;
    height: auto;
    font-size: 20px;
    background: linear-gradient(45deg, #2D6BB0, #A8D2D7);
	background-size: 200% 200%;
	animation: gradient 15s infinite;
}

body {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    -webkit-background-size: cover;
    height: 100%;
    background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    background-size: 200% 200%;
    animation: gradient 9s infinite;
    border-radius: 61px;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(1000px);
    text-align: center;
    font-family: 'SF Pro', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

.insets {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0rem;
}

@keyframes gradient {
    0% {
        background-position: left top;
    }
    25% {
        background-position: right top;
    }
    50% {
        background-position: right bottom;
    }
    75% {
        background-position: left bottom;
    }
    100% {
        background-position: left top;
    }
}

.navbar {
    padding-left: 2rem;
    padding-right: 2rem;
    color: white;
    font-size: x-large;
    font-weight: medium;
}
#navbarNav {
justify-content: end;
}
.navbar .navbar-nav {
    float: none;
    vertical-align: top;
}

.nav-appstore {
    margin-left: auto;
    margin-right: 0rem;
}

.swiper {
    margin-left: 14rem;
    margin-right: 14rem;
}

.nav-link.active {
    color: #325FA0!important;
}

.navbar-brand.active {
    color: #325FA0!important;
}

header {
    margin-bottom: 4rem;
}

section {
    margin-bottom: 4rem;
}

footer {
    font-size: medium!important;
}

#iconTelegram {
    font-size: x-small!important;
}

#iconTelegramText {
    color: #2CA4DC!important;
}

#iconYouTube {
    font-size: x-small!important;
}

figcaption {
    text-align: center; /* Выравниваем по центру */
}

#icon{
    justify-content: center;
}
